div{
	background-color: gray;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

div{
	background-image: url(ga_logo.png);
	background-image: url("ga_logo.png");
    background-repeat: no-repeat;
    background-size: cover;

}
