// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;

header{
	font-size: 30px;
	font-family: "Merriweather", serif;
	font-color: yellow;

}

nav{
	align-content: 
	font-family: "Oswald";

}
